* {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    background-color: black;
}

#logo {
    margin-left: 20px;
    width: 56%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

#image-logo {
    text-align: center;
    color: #4db6e8;
    width: 230px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

a {
    margin-left: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 4px #4db6e8; */
    border-radius: 50%;
    padding: 10px;
    color: #4db6e8;
}

.button {
    width: 36px;
    height: 36px;
    text-decoration: none;
    border: solid 4px #4db6e8;
}

.carte {
    text-decoration: none;
}

#video {
    display: flex;
    justify-content: center;
    background-color: black;
}

#information {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: #4db6e8;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#ensemble {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

#ensemble a {
    text-decoration: none;
}

#soc-for-sap {
    height: 90px;
    width: auto;
    margin-bottom: 20px;
    background-color: #2c2b2b;
} 

#petit-logo {
    height: 50px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #2c2b2b;
}


#Smart {
    height: 65px;
    width: auto;
    margin-bottom: 20px;
    background-color: #2c2b2b;
}

.card {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2b2b;
    padding: 25px;
    border: 5px solid #eb7838;
    border-radius: 30px;
    color: #4db6e8;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

#soc img {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

#main {
    background-color: #2c2b2b;
}

h2 {
    color: white;
    text-align: center;
    background-color: #2c2b2b;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}
