* {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    background-color: black;
}

#logo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#logo-wcomply {
    width: 300px;
    height: auto;
}

#video {
    display: flex;
    justify-content: center;
    background-color: black;
}

#information {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: #4db6e8;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.button {
    text-decoration: none;
}

#ensemble {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

#petit-logo {
    height: 50px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #2c2b2b;
}

#soc-for-sap {
    height: 65px;
    width: auto;
    margin-bottom: 20px;
    background-color: #2c2b2b;
}

#Smart {
    height: 65px;
    width: auto;
    margin-bottom: 20px;
    background-color: #2c2b2b;
}

.card {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2b2b;
    padding: 25px;
    border: 5px solid #eb7838;
    border-radius: 30px;
    color: #4db6e8;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.titre {
    margin-bottom: 20px;
    background-color: #2c2b2b;
}

#element-site {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

#site {
    text-decoration: none;
    font-size: 20px;
    border: 5px solid #eb7838;
    border-radius: 15px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    color: #4db6e8;
    background-color: #2c2b2b;
}

#anatomie {
    text-decoration: none;
    font-size: 20px;
    border: 5px solid #eb7838;
    border-radius: 15px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    color: #4db6e8;
    background-color: #2c2b2b;
}

#soc img {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

#reseaux {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: 40px;
}

.reseaux-sociaux {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #ffff;
}

.reseaux-qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
}

.QRcode {
    width: 150px;
    margin-top: 20px;
}

i {
    color: #4db6e8;
}

.element {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    background-color: #4db6e8;
}

.element marquee {
    background-color: #4db6e8;
    color: black;
}   

#main {
    background-color: #2c2b2b;
}